body {
    background-image: url('Fondo.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card {
    background-color: rgba(255, 255, 255, 0.6) !important;
}

a {
    text-decoration: none;
}

.error{
    color: rgba(255, 81, 81);
}

.escondido{
    display: none;
}